.header
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    // <img src="officiallogo.png" alt="Logo" width="300" height=auto postion:absolute top: 110px left: 50px;>
    b1
        button.btnSignIn(type='submit' onclick='logIn()') Sign In
    h1 i-SEE FLICKS 
    i1
        input#search(placeholder='search' autocomplete='off' type='text' name='search')
    ul#movieList
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src='/scripts/SearchBar.js')
    script(src='/scripts/User.js')