.header
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    // <img src="officiallogo.png" alt="Logo" width="300" height=auto postion:absolute top: 110px left: 50px;>
    b1
        button.btnSignIn(type='submit' onclick='logOut()') Sign Out
    h1 i-SEE FLICKS 
    //i1
        input#search(placeholder='search' autocomplete='off' type='text' name='search')
    //ul#movieList
    #myForm.searchMovie
        form.searchMovie(method="POST" action="/Search/viewMovie")
            label(for='movieTitle')
                b Search Movie Title
            input#movieTitle(type='text' placeholder='Enter Movie...' name='movieTitle' required='')
            button.btn.searchMov(type='submit') Search Movie
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src='/scripts/SearchBar.js')
    script(src='/scripts/User.js')