html {
    box-sizing: border-box;
    background-color: whitesmoke;
}

.header {
    background-color: rgb(77, 77, 77);
    padding: 50px;
}

body {
    margin: 0; 
}

.header .btnSignIn {
    background-color: rgb(182, 182, 182);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
    position: relative;
    top: 10px;
    float: right;
    border-radius: 2px;
}

.header .btnSignOut {
    background-color: rgb(182, 182, 182);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
    position: relative;
    right: 2px;
    top: 10px;
    float: right;
    border-radius: 2px;
}

.header h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 52px; font-family: Prata, serif; color: white;
    text-shadow: 3px 1px #00ccff;
}

.header i1 {
    background-color: white;
    position: absolute;
    top: 45px;
    left: 700px;
    right: 700px;
}

.movieTrailer {
    padding: 50px;
    padding-top: 30px;
}

.movieTrailer p1{
    position: relative;
}

.reviewSection {
    background-color: white;
    padding: 50px;
}