@import url('https://fonts.googleapis.com/css?family=Prata:regular');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700');

html {
    box-sizing: border-box;
    background-color: whitesmoke;
}

.header {
    background-color: rgb(77, 77, 77);
    padding: 50px;
}

body {
    margin: 0; 
}

.header .btnSignIn {
    background-color: rgb(182, 182, 182);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
    float: right;
    border-radius: 2
}

.header h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 52px; font-family: Prata, serif; color: white;
    text-shadow: 3px 1px #00ccff;
}

.header i1 {
    background-color: white;
    position: absolute;
    top: 45px;
    left: 700px;
    right: 700px;
}

.header i2 {
    position: relative;
    left: 815px;
    bottom: 77px;
}

.header ul {
    position: relative;
    left: 640px;
    bottom: 70px;
   
}

.header ul li {
    display:block;
    padding: 15px 10px 17px 13px;   
}




.sugMovies {
    background-color: rgb(182, 182, 182);
    padding: 30px;
    position: relative;
}

.sugMovies h1 {
    text-align: center;

}

.sugMovieSlide {
    display: none;
}

.sugtext {
    font-size: large;
    position: relative;
    text-align: center;
}

.watchList {
    background-color: rgb(228, 228, 228);
    padding: 50px;
    border:2px solid black;
}

.watchList p1{
    text-align: center;

}
.trendingActors{
    background-color: rgb(228, 228, 228);
    padding: 80px;
    position: relative;
    border: 2px solid black;
    border-top: none;
}

.trendingActors h1 {
    position: relative;
    margin-block-end: 0;
    padding: 0;
    margin: 0;
}

.actors{
    position: relative;
    text-align: center;
    bottom: 25px;
}

.signinPopup {
    display: none;
    z-index: 1; /* Sit on top */
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #ffffff;
}

.signinContainer {
    max-width: 250px;
    padding: 10px;
    background-color: white;
}

.signinContainer h1 {
    font-family: Prata;
}
  
.signinContainer input[type=text], .signinContainer input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #ffffff;
}

.signinContainer .btn {
    background-color: rgb(168, 168, 168);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.signinContainer .cancel {
    background-color: black;
}

.signinContainer .createAcc {
    background-color: rgb(151, 151, 70);
}




