@import url('https://fonts.googleapis.com/css?family=Prata:regular');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700');

html {
    box-sizing: border-box;
    background-color: rgb(185,242,255);
}



.header {
    background-color: rgb(42, 84, 92);
    
}


body {
    margin: 0; 
}

.header b1 {
    position: absolute;
    top: 600px;
    left: 10px;
    right: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.header h1 {
    margin: 0;
    padding: 0;
    text-align:center;
    font-size: 52px; font-family: Prata, serif; color: rgb(255, 255, 255);
    text-shadow: 3px 1px #00ccff;
}

.signupContainer {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 614px;
    top: 100px;
}

.signupContainer h1 {
    font-family: Prata;
}
  
  /* Full-width input fields */
.signupContainer input[type=text], .signupContainer input[type=password] {
width: 88%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}


/* Set a style for the submit/login button */
.signupContainer .btn {
background-color: rgb(182, 182, 182);
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.signupContainer .cancel {
background-color: rgb(94, 94, 94);
}

.signupContainer .createAcc {
    background-color: rgb(212, 212, 171);
}
