@import url('https://fonts.googleapis.com/css?family=Prata:regular');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700');

html /*, body */{
    box-sizing: border-box;
    background-color:white;
}

.header {
    background-color: rgb(77, 77, 77);
    padding: 30px;
    margin: 0;
}

body {
    margin: 0; 
}

p {
    color: red; 
}

h1 {
    text-align:left;
    font-size: 52px; font-family: Prata, serif; color: white;
    text-shadow: 3px 1px #00ccff;
}

i1 {
    text-align:center;
}

