@import url('https://fonts.googleapis.com/css?family=Prata:regular');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700');
html, body {
    background-color: rgb(0, 0, 0);
    font-size: larger; font-family: Montserrat Subrayada, serif; color: rgb(89, 0, 255);
}

p {
    color: red; 
}

h1 {
    text-align:center;
    /*border: 3px solid black;*/
}

b1 {
    text-align:right;
}