html {
    box-sizing: border-box;
}

.header {
    background-color: rgb(77, 77, 77);
    padding: 50px;
}

.header h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 52px; font-family: Prata, serif; color: white;
    text-shadow: 3px 1px #00ccff;
}

body {
    margin: 0; 
}

.header i1 {
    background-color: white;
    position: relative;
    bottom: 40px;
    left: 700px;
    right: 700px;
}

.header .btnSignIn {
    background-color: rgb(182, 182, 182);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
    position: relative;
    top: 10px;
    float: right;
    border-radius: 2px;
}

.header .btnSignOut {
    background-color: rgb(182, 182, 182);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
    position: relative;
    right: 2px;
    top: 10px;
    float: right;
    border-radius: 2px;
}


.userPfp {
    background-color: rgb(255,255,255);
    padding: 20px;
    position: relative;
    border: 2px solid black;
}

.userPfp .btnEdit {
    background-color: rgb(182, 182, 182);
    color: white;
    padding: 4px 14px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;  
    position: relative;
    top: 20px;
    right: 125px;
}


.userPfp h2 {
    font-size: 14px;
}
.userPfp h3 {
    font-size: 14px;
    position: relative;
    left: 80px;
    bottom: 31px;
}


.recentViewed{
    background-color: rgb(255, 255, 255);
    padding: 80px;
    position: relative;
    border: 2px solid black;
    border-top: none;
}

.recentViewed h1 {
    position: relative;
    margin-block-end: 0;
    padding: 0;
    margin: 0;
}

.recentMovies{
    position: relative;
    text-align: center;
    bottom: 25px;
}

.topReviews{
    background-color: rgb(255, 255, 255);
    padding: 80px;
    position: relative;
    border: 2px solid black;
    border-top: none;
}

.topReviews h1 {
    position: relative;
    margin-block-end: 0;
    padding: 0;
    margin: 0;
}

.reviews{
    position: relative;
    text-align: center;
    bottom: 25px;
}




