doctype html
html(lang='en')
  head
    <link rel="stylesheet" type="text/css" href="/css/Actor.css" />
  body
    include ./partials/header
    .actor
      h1 Actor Name
      img(src='ProfilePic.png' alt='Profile' width='150' position:='' relative='')
      p1 Grew up... Started career as...
      p2 Born: Month xx, xxxx
    .knownFor
      h1 Known For
      .movieSlide
        .movietext Movie One
      .movieSlide
        .movietext Movie Two
      .movieSlide
        .movietext Movie Three
      .movieSlide
        .movietext Movie Four
      .movieSlide
        .movietext Movie Five
    .filmography
    h1 Filmography
    .films
      p1 Film 1
      p2 Film 2
      p3 Film 3
      p4 Film 4
      p5 Film 5
    script(src='/scripts/Actor.js')
