doctype html
html
    //link(rel='stylesheet', href='Movie_Project.css')
    head
        <link rel="stylesheet" type="text/css" href="/css/Movie_Project.css" />
        //include ./Movie_Project.css
        script(src='./User.js')
        script(src='./MovieProject.js')
    body
        .header
            // <img src="officiallogo.png" alt="Logo" width="300" height=auto postion:absolute top: 110px left: 50px;>
            b1
                button.btnSignIn(type='submit' onclick='openForm()') Sign In
            h1 i-SEE FLICKS
            i1
                input#search(placeholder='search' autocomplete='off' type='text' name='search')
            ul#movieList
            script(src='SearchBar.js')
        .sugMovies
            h1 Suggested Movies
            .sugMovieSlide
                .sugtext Movie One
            .sugMovieSlide
                .sugtext Movie Two
            .sugMovieSlide
                .sugtext Movie Three
            .sugMovieSlide
                .sugtext Movie Four
            .sugMovieSlide
                .sugtext Movie Five
        .watchList
            h1 From Your Watchlist
            p1 Add more shows and movies to keep track of what you want to watch
        .trendingActors
            h1 Trending Actors
            .actors
                p1 Actor 1
                p2 Actor 2
                p3 Actor 3
                p4 Actor 4
                p5 Actor 5
        #myForm.signinPopup
            form.signinContainer
                h1 Sign In
                label(for='name')
                    b Name
                input#name(type='text' placeholder='Enter Email' name='name' required='')
                label(for='psw')
                    b Password
                input#psw(type='password' placeholder='Enter Password' name='psw' required='')
                button.btn(type='button' onclick='userProfile()') Login
                button.btn.cancel(type='button' onclick='closeForm()') Close
                button.btn.createAcc(type='submit' onclick='newAccount()') Create New Account
