doctype html
html(lang='en')
  head
    <link rel="stylesheet" type="text/css" href="/css/SignIn.css" />
    script(src='/scripts/User.js')
  body
    #myForm.signinPopup
            form.signinContainer
                h1 Sign In
                label(for='name')
                    b Name
                input#name(type='text' placeholder='Enter Username' name='name' required='')
                label(for='psw')
                    b Password
                input#psw(type='password' placeholder='Enter Password' name='psw' required='')
                button.btn(type='button' onclick='userProfile()') Login
                button.btn.cancel(type='button' onclick='closeForm()') Close
                button.btn.createAcc(type='submit' onclick='createNewAccount()') Create New Account
