doctype html
html(lang='en')
  head
    <link rel="stylesheet" type="text/css" href="/css/viewMovie.css" />
  body
    include ./partials/header
    .movieTrailer
      h1#movieName Movie Name (Year)
      video(width='320' height='240' controls='') OK
      p6 Synopsis:
      .movieRating
        h1 Ice Meter: -------
      p1 Pg-13
      p2 Time
      p3 Director:
      p4 Writers:
      p5 Stars:
    .reviewSection
      h1 Review Movie
      textarea#writeReview(name='writeReview' rows='4' cols='50' placeholder='Leave a review...')
      input(type='submit' value='Submit')
    script(src='/scripts/SearchBar.js')
