doctype html
html(lang='en')
  head
    <link rel="stylesheet" type="text/css" href="/css/viewMovie.css" />
  body
    include ./partials/header
    .movieTrailer
      h1#movieName Movie Name (Year)
      video(width='320' height='240' controls='') OK
      p6 Synopsis:
      .movieRating
        h1 Ice Meter: -------
      p1 Pg-13
      p2 Time
      p3 Director:
      p4 Writers:
      p5 Stars:
     
    .commentForm
      h6 Add Comment
      input#nameReview(type= "text" placeholder= "name...")
      br
      br
      input#dateReview(type= "date")
      br
      br
      textarea#bodyReview(rows= "1" col= "5" placeholder= "review...")
      input#addReview(type="button" value="Add Review")
    #containerReview

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="/scripts/reviewMovie.js")
  