html {
    box-sizing: border-box;
    background-color: whitesmoke;
}

body {
    margin: 0; 
}

.movieTrailer {
    padding: 50px;
    padding-top: 30px;
}

.movieTrailer p1{
    position: relative;
}
.movieTrailer p6{
    position: relative;
    bottom: 220px;
}

.reviewSection {
    background-color: white;
    padding: 50px;
}