html {
    box-sizing: border-box;
    background-color: whitesmoke;
}

body {
    margin: 0; 
}

.movieTrailer {
    padding: 60px;
    padding-top: 30px;
}

.movieTrailer p1{
    position: relative;
}
.movieTrailer p6{
    position: relative;
    bottom: 220px;
}

.commentForm{
    padding:5px;
    border: 1px solid #000;
    text-align: center;
}

.commentForm h6{
    position:relative;
    right: 25px;
}

.commentForm input{
    position:relative;
    right: 40px;
}

.commentForm input[type="text"], .commentForm textarea, .commentForm input[type="date"]{
    padding:1px;
    border:1px solid #000;
    width:400px;
}